@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Album</legend>

    <div class="display-label">Genre</div>
    <div class="display-field">
        <span>@Model.Genre.Name</span>
    </div>

    <div class="display-label">Artist</div>
    <div class="display-field">
        <span>@Model.Artist.Name</span>
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        <span>@Model.Title</span>
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        <span>@Model.Price</span>
    </div>

    <div class="display-label">AlbumArtUrl</div>
    <div class="display-field">
        <span>@Model.AlbumArtUrl</span>
    </div>
</fieldset>
<p>
    <a asp-action="Edit" asp-route-id="Model.AlbumId ">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
