@model IEnumerable<MvcMusicStore.Models.Album>

@* TODO: @helper 'Truncate' converted to local function. Move to @functions block or create a partial view. *@
@* Original: @helper Truncate(string input, int length) *@
@{
    // Local function (move to @functions block at top of file)
        // TODO: Manually convert @helper 'Truncate' to a local function or partial view
    // Original: @helper Truncate(string input, int length) { if (input.Length <= length) {         @input     } else {         @input.Substring(0, length)<text>...</text>     } }
    // Option 1: Convert to local function in @functions block
    // Option 2: Create a partial view '__Truncate.cshtml' and use <partial name="__Truncate" />
    // Option 3: Create a Tag Helper or View Component for reusability
    string Truncate(string input, int length)
    {
        throw new NotImplementedException("@helper 'Truncate' requires manual conversion");
    }

}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table>
    <tr>
        <th>
            Genre
        </th>
        <th>
            Artist
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span>@Model.Genre.Name</span>
        </td>
        <td>
            @Truncate(item.Artist.Name, 25)
        </td>
        <td>
            @Truncate(item.Title, 25)
        </td>
        <td>
            <span>@Model.Price</span>
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="item.AlbumId ">Edit</a> |
            <a asp-action="Details" asp-route-id="item.AlbumId ">Details</a> |
            <a asp-action="Delete" asp-route-id="item.AlbumId ">Delete</a>
        </td>
    </tr>
}

</table>